@using Tasks.WebClient.Models.ViewModels

@model IQueryable<MyTaskViewModel>

@if (Model.Count() == 0)
{
    <h4>You no have tasks today</h4>
    <div>
        @Html.ActionLink("Add new task", "Create", "Tasks",null, new { @class = "btn btn-lg btn-primary" })
    </div>
}
else
{


    foreach (var task in Model)
    {

        @Html.Partial("_MyTaskPartial", task)
      


    }
}