@model IQueryable<DateTime>



@foreach (var date in Model)
{
    string formatDate;

    if (date.Day == DateTime.Now.Day && date.Month == DateTime.Now.Month && date.Year == DateTime.Now.Year)
    {
        formatDate = "Today";
    }
    else
    {
        formatDate = date.ToString("dd/MM/yyyy");
    }

    <div class="col-sm-1 date-by-searching ">

        @Ajax.ActionLink(formatDate, "SearchByDate", "Searching", new { date = date },
            new AjaxOptions
            {
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "results",
            }, new { @class = "btn btn-danger" })
    </div>

}

