@model IQueryable<Tasks.WebClient.Models.ViewModels.MyTaskViewModel>
@{
    ViewBag.Title = "Index";
}

<h2> My current tasks </h2>
<div>
    @Html.ActionLink("Add new task", "Create", "Tasks", new { @class = "btn btn-lg btn-primary" })
</div>
<div class="row search-by-date">
    @using (Ajax.BeginForm("SearchByDate", "Searching", null,
            new AjaxOptions
                {
                    HttpMethod = "POST",
                    UpdateTargetId = "results",
                    InsertionMode = InsertionMode.Replace
                }, new { @class = "form-horizontal", id = "searchForm" }))
    {
        <label for="datepicker">Search by date:</label>
        <input type="text" id="datepicker" name="date" onchange="changed()" />
        <input type="submit" id="searchByDate" value="Search by date" />

    }
</div>
<div>
    @using (Ajax.BeginForm("SearchByPriority", "Searching", new AjaxOptions
    {
        HttpMethod = "POST",
        UpdateTargetId = "results",
        InsertionMode = InsertionMode.Replace
    }))
    {
        <input type="submit" name="name" value="Search" />
    }

</div>


<div class="row" id="results">

    @Html.Partial("_ListOfMyTaskPartial", Model)

</div>


@section scripts {

    <script>

        $("#searchByDate").hide();

        $('#datepicker').datepicker({ dateFormat: 'dd.mm.yy' }).val();


        function changed() {

            $('#searchForm').submit();
        }

    </script>

}