@model IQueryable<Tasks.WebClient.Models.ViewModels.MyTaskViewModel>
@{
    ViewBag.Title = "Index";
}

<h2>Baba Meca view </h2>

 <div class="row">
    @foreach (var task in Model)
    {
         @Html.Partial("_ListOfMyTaskPartial", task)
    }
 </div>
