@model IQueryable<DateTime>
@{
    ViewBag.Title = "My tasks";
}

@if (Model.Count() == 0)
{
    <div>
        @Html.ActionLink("Add task", "Create", "Tasks", null, new { @class = "btn btn-lg btn-primary btn-add-task" })
        <h2>You have no any tasks! </h2>
        <hr />
    </div>
}
else
{

    <div>
        <h2>All my tasks by date</h2>
        <hr />
    </div>

    <div class="row">
        @Html.Partial("_SearchingByDateTimePartial", Model)
    </div>

    <div class="row" id="results"></div>
}