@model IQueryable<DateTime>
@{
    ViewBag.Title = "Index";
}

<div>
    <h5>
        @DateTime.Now
    </h5>
</div>

<div class="row">
    @Html.Partial("_SearchingByDateTimePartial", Model)
</div>

<div class="row" id="results"></div>
