@using Microsoft.AspNet.Identity

@model IQueryable<Tasks.WebClient.Models.ViewModels.MyTaskViewModel>

@{
    ViewBag.Title = "Home Page";

}

@if (Request.IsAuthenticated)
{
    <div class="row">
        @Html.Partial("_ListOfMyTaskPartial", Model)
    </div>
}
else
{
    
    <h1 class="text-center" >Welcome to task system! </h1>
    <hr />

   
    <div class="row">
        <div class="col-lg-6">

            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h3>Create a new account.</h3>
                </div>
                <div class="panel-body">
                    @Html.Partial("_RegistrationPartial")
                </div>
            </div>


        </div>
        <div class="col-lg-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3>Organize your day!</h3>
                </div>
                <div class="panel-body">

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean id sagittis purus. Morbi vel tristique felis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Ut et urna diam. Ut maximus risus ut auctor dapibus. Donec velit velit, pulvinar vitae lorem eget, ornare interdum lacus. Nunc in nisl ac nunc cursus elementum. Nam sed lectus vitae nisi lacinia efficitur vitae sit amet magna. Vivamus fermentum nisi quis dolor consectetur eleifend.</p>
                </div>
            </div>
        </div>
       
    </div>



    <div>

    </div>








}


