@using Microsoft.AspNet.Identity

@model IQueryable<Tasks.WebClient.Models.ViewModels.MyTaskViewModel>

@{
    ViewBag.Title = "Home Page";

}



    <h1>Your tasks today!</h1>


    <div class="row">
        @Html.Partial("_ListOfMyTaskPartial", Model)
    </div>

       


